body{
    background-color:rgba(255, 81, 0, 0.452);
    animation: infinite;
}
p{
    color: yellow;
    background-color: grey;
    font-size: large;
    
}
h1{
    color: brown;
}

img{
    width: 500;
    height: 100;
}